* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}
.inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 2%;
}
.container {
  margin: 3%;
  display: flex;
  flex-direction: column;
}
.inp {
  display: flex;
  flex-direction: column;
  
}
input {
  border: 1px solid white;
  width: 30vw;
  height: 5vh;
  top: 213px;
  left: 647px;
  gap: 0px;
  border-radius: 5px 5px 5px 5px;
  background-color:black;
  color: #FFFFFF;
}
select, input {
    background-color: black !important;
    color: white !important;
}

input:-webkit-autofill {
    background-color: black !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    box-shadow: 0 0 0px 1000px black inset !important;
}


select {
    appearance: none; 
}
.add-btn {
  width: 12vw;
  height: 6vh;
  top: 308px;
  left: 58px;
  gap: 0px;
  opacity: 0px;
  font-size: medium;
}
.no-head {
  width: 262px;
  height: 29px;
  top: 504px;
  left: 58px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff80;
}
.ad-head{
    margin-top:1%;
    margin-bottom:1%;
}
.error{
    color:#FF4343;
    font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29.05px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.empdetails{
    display: flex;
    gap:12px;
    justify-content: center;
    align-items: center;
    width:45vw;
    height: 6vh;
    top: 568px;
    left: 58px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    border: 1px solid #FFFFFF
}

.delete{
width: 162px;
height: 42px;
top: 576px;
left: 624px;
gap: 0px;
border-radius: 20px 20px 20px 20px;
opacity: 0px;

}
.all{
    display: flex;
    gap:16px;
    margin-top:2%;
}
.emp{
    display: flex;
    flex-direction: column;
    
}
.added{
    color: #43FF78;
}